body{
  background-color: #121212;
}

select, textarea, input[type="text"], input[type="number"]{
  background-color: #2e2e2e !important;
  border: 0 !important;
  color: #e9e9e9 !important;
}

#upload-file {
  color: #e9e9e9;
  width: 100%;
  margin-top: 1rem;
}

#upload-card {
  width: 100%;
}

label{
  color: #e9e9e9;
}

canvas{
  border: 1px solid #e9e9e9;
}

.container{
  margin-top: 5rem;
}